<app-header [title]="headerTitle"></app-header>
@if (selecciones.length >= 4) {
    <section class="resultado-section">
        @for (item of selecciones; track $index) {
            <div class="grid-item">
                @if (item.categoria === 'cancion_del_ano' || item.categoria  === 'colaboracion_del_ano') {
                    <p class="title">{{item.categoria == 'cancion_del_ano' ? ('cancion_del_ano' | translate) : ('colaboracion_del_ano' | translate)}}</p>
                    <app-image-viewer 
                        [image]="{
                            url: item.data.header_image_url,
                            name: item.data.full_title,
                            emote: item.categoria == 'cancion_del_ano' ? '🏆' : '🫂'
                        }">
                    </app-image-viewer>
                    <p>{{item.data.full_title}}</p>
                    <iframe
                        allow="autoplay *; encrypted-media *;"
                        frameborder="0"
                        height=""
                        style="width:100%;max-width:660px;overflow:hidden"
                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                        [src]="sanitazerUrl(item.data.apple_music_player_url)"
                    ></iframe>

                }
                @if (item.categoria  === 'album_del_ano' || item.categoria  === 'portada_del_ano') {
                    <p class="title">{{item.categoria == 'album_del_ano' ? ('album_del_ano' | translate) : ('portada_del_ano' | translate)}}</p>
                    <app-image-viewer 
                        [image]="{
                            url: item.data[2],
                            name: item.data[1],
                            emote: item.categoria == 'album_del_ano' ? '🎧' : '🖼️'
                        }">
                    </app-image-viewer>
                    <div class="info">
                        <p>{{item.data[1]}}</p>
                        <p class="sub">by {{item.data[0]}}</p>
                    </div>
                    
                }
            </div>
        }
    </section>
    <hr class="mx-16">

    <div class="flex justify-center w-100 m-4">
        <button class="p-4 bg-white shadow-sm hover:bg-black transition-colors">
            <a class="text-2xl" [routerLink]="['/']" routerLinkActive="router-link-active" >{{ 'haz_el_tuyo' | translate}}</a>
        </button>
    </div>
    <app-shared-link [link]="currentUrl"></app-shared-link>

} @else {
    <div class="loader">
        <app-loader></app-loader>
    </div>
}
