<app-header></app-header>
<div class="info-section">
    <h1 class="title">Genius API</h1>
    <p>Es importante tener en cuenta que los resultados mostrados en esta aplicación 
        pueden no ser perfectos ni siempre visualmente atractivos, ya que dependo de
        la API de Genius para obtener la información. Como esta fuente externa es 
        la que proporciona los datos, los resultados pueden variar según su 
        disponibilidad y formato. Agradecemos tu comprensión y paciencia.</p>

    <h1 class="title">Datos</h1>
    <p>Esta aplicación no recopila ningún dato personal. Para mostrar 
    información sobre tus canciones favoritas, se genera un enlace 
    dinámico único para cada resultado.</p>
</div>