.form-section {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

button {
    padding: 10px;
    cursor: pointer;
    max-height: 70px;
}

.alert {
    color: red;
}



@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
   
}