<app-header></app-header>
<main>
    <p-accordion [value]="['0']" [multiple]="false">
        @for (item of categorias; track $index) {
            <p-accordion-panel [value]="item.id">
                <p-accordion-header>{{item.categoria}}</p-accordion-header>
                <p-accordion-content>
    
                    @if (item.nombre_back == 'cancion_del_ano' || item.nombre_back == 'colaboracion_del_ano') {
                        <app-one-search [item]="item"></app-one-search>
                    }
    
                    @if (item.nombre_back == 'portada_del_ano' || item.nombre_back == 'barra_del_ano' || item.nombre_back == 'album_del_ano') {
                        <app-two-search [item]="item"></app-two-search>
                    }
                    
    
                    <ng-container>
                        @switch (item.nombre_back) {
                            @case ('cancion_del_ano') {
                                <app-top-tres></app-top-tres>
                            }
                            @case ('colaboracion_del_ano') {
                                <app-colaboracion></app-colaboracion>
                            }
                            @case ('album_del_ano') {
                                <app-album></app-album>
                            }
                            @case ('portada_del_ano') {
                                <app-cover></app-cover>
                            }
                            @case ('barra_del_ano') {
                                <app-lyrics></app-lyrics>
                            }
                            @default {
                              
                            }
                        }
                    </ng-container>
                      
                </p-accordion-content>
            </p-accordion-panel>
        }
    </p-accordion>

    <div class="name-section">
        <label for="name">La favoritas de:</label>
        <div class="result">
            <input id="name" class="input-search" [(ngModel)]="nombre" type="text" placeholder="Tu nombre...">
            <button (click)="generarResultado()">Resultado</button>
        </div>
    </div> 


    <div id="alert" class="alert" [ngClass]="errorMessage.isError ? '' : 'hidden'">
        <p>⚠️</p>
        <p>{{errorMessage.message}}</p>
    </div>
    
</main>
