main {
    padding-top: 75px;
    position: relative;
    min-height: 80vh;
}

.p-accordionheader {
    background-color: transparent !important;
    color: var(--color-text);
    font-size: 70px
}

::ng-deep.p-accordioncontent-content {
    background-color: transparent !important
}

.name-section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    input {
        max-width: 300px;
        max-height: 40px;
    }
}

.result {
    display: flex;
    gap: 16px;
    button {
        max-height: 40px;
        padding: 5px;
    }
}

.alert {
    position: fixed;
    top: 6rem;
    right: 1rem;
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-weight: 500;
    opacity: 1;
    z-index: 1000;
    transform: translateY(0);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    display: flex;
    gap: 16px;
    color: red;
}
  
.hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    .p-accordionheader {
        font-size: 60px; /* Tamaño más pequeño para tablets */
    }
    header h1 {
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .p-accordionheader {
        font-size: 50px; /* Tamaño más pequeño para móviles */
    }
    header h1 {
        font-size: 50px;
    }
}

