

.p-accordionheader {
    background-color: transparent !important;
    color: var(--color-text);
    font-size: 70px
}

::ng-deep.p-accordioncontent-content {
    background-color: transparent !important
}


@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    .p-accordionheader {
        font-size: 60px; /* Tamaño más pequeño para tablets */
    }
    header h1 {
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .p-accordionheader {
        font-size: 50px; /* Tamaño más pequeño para móviles */
    }
    header h1 {
        font-size: 50px;
    }
}

