<p-accordion [value]="['0']" [multiple]="false">
    @for (item of categorias; track $index) {
        <p-accordion-panel [value]="item.id">
            <p-accordion-header>{{item.categoria}}</p-accordion-header>
            <p-accordion-content>
    
                <section class="selector">
                    <input (input)="search($event)" class="input-search" type="text" placeholder="Buscar...">
                    @if (filteredResults.length > 0) {
                        <div class="autocomplete">
                            @for (item of filteredResults; track $index) {
                                <div (click)="selectItem(item)" class="autocomplete-item">
                                    <img [src]="item.result.song_art_image_url" alt="{{ item.result.title }}" class="autocomplete-image">
                                    <span class="autocomplete-title">{{ item.result.full_title }}</span>
                                </div>
                            }
                        </div>
                    }
                </section>
                  
            </p-accordion-content>
        </p-accordion-panel>
    }
</p-accordion>