<section class="info-song-row">
    <app-image-viewer 
            [image]="{
                url: seleccionesService.selecciones()['album_del_ano']?.info.url,
                name: seleccionesService.selecciones()['album_del_ano']?.info.title,
                emote: '🎧'
            }">
    </app-image-viewer>

    @if (seleccionesService.selecciones()['album_del_ano']) {
        <ul>
            <li>
                <p>{{seleccionesService.selecciones()['album_del_ano'].info.title}}</p>
                <p>By {{seleccionesService.selecciones()['album_del_ano'].info.artist}}</p>
            </li>
        </ul>
        
    }

    @if (!seleccionesService.selecciones()['album_del_ano']) {
        <p>⚠️ {{'info_album_and_cover' | translate}}</p>
    }
</section>