<section>
    <div class="info-song-row">
        <app-image-viewer 
            [image]="{
                url: seleccionesService.selecciones()['cancion_del_ano']?.info.song_art_image_url,
                name: seleccionesService.selecciones()['cancion_del_ano']?.info.full_title,
                emote: '🏆'
            }">
        </app-image-viewer>
        @if (seleccionesService.selecciones()['cancion_del_ano']) {
            <ul>
                <li>
                    <p>{{seleccionesService.selecciones()['cancion_del_ano'].info.full_title}}</p>
                </li>
                <li>
                    <p>{{seleccionesService.selecciones()['cancion_del_ano'].info.release_date_for_display}}</p>
                </li>
            </ul>
            
        }
        @if (!seleccionesService.selecciones()['cancion_del_ano']) {
            <p>🥇 ¿Cuál ha sido para ti la canción que más te ha gustado de este 2024?</p>
        }
        
    </div>
</section>

